## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,6,Teahupoo,PF,73.36,clear sky,-17.8333,-149.2667,Vanira Lodge
2,7,Butaritari,KI,81.97,clear sky,3.0707,172.7902,Isles Sunset Lodge
3,9,Esperance,AU,65.10,scattered clouds,-33.8667,121.9000,Hospitality Esperance
4,10,Kyenjojo,UG,75.88,overcast clouds,0.6328,30.6214,Tropical Gardens

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,6,Teahupoo,PF,73.36,clear sky,-17.8333,-149.2667,Vanira Lodge
2,7,Butaritari,KI,81.97,clear sky,3.0707,172.7902,Isles Sunset Lodge
3,9,Esperance,AU,65.10,scattered clouds,-33.8667,121.9000,Hospitality Esperance
4,10,Kyenjojo,UG,75.88,overcast clouds,0.6328,30.6214,Tropical Gardens

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Mount Pleasant"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Mount Pleasant"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Palatka"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Sweetwater"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Houma"]

In [7]:

start = vacation_start.to_numpy()[0][5]
start

32.7941

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6])
end = (vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6])

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
starttoend = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(starttoend)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,592,Mount Pleasant,US,65.07,heavy intensity rain,32.7941,-79.8626,Best Western Patriots Point
1,486,Palatka,US,69.98,broken clouds,29.6486,-81.6376,Holiday Inn Express & Suites Palatka Northwest...
2,326,Sweetwater,US,78.03,broken clouds,25.7634,-80.3731,Courtyard by Marriott Miami at Dolphin Mall
3,612,Houma,US,73.99,overcast clouds,29.5958,-90.7195,Courtyard by Marriott Houma

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(29.0, -81.0), zoom_level=5.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))